---
import Page from '../../layouts/Page.astro';
import Callout from '../../components/callout/Callout.astro';
---

<Page title="Assets" section="assets">
	<main>
    <div class="flex justify-center">
      <Callout type="warn">
			  To get started, open the directory <code>src/pages</code> in your project.<br />
      </Callout>
    </div>
	</main>
</Page>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
