---
import Page from '../../../layouts/Page.astro';
import Callout from '../../../components/callout/Callout.astro';
---

<Page title="Jams | Asset" jam="asset">
	<main>
    <div class="flex justify-center">
      <Callout type="warn">
		If you go to a page that doesn't exist, you can get back to the previous page by
        clicking <code>continue</code> and back to the home page with <code>exit</code>.
      </Callout>
    </div>
	</main>
</Page>
