---
import {
  Jam as GameJame,
  getJam,
} from "../../../ts/jam.ts";

import Jam from "../../../layouts/Jam.astro";

import JamHero from "../../../components/Jam/Hero.astro";

const cj: GameJame | null = getJam("closed");
---

<script>
  document
    .getElementById("next-jam-page")
    ?.addEventListener("click", (event) => {
      window.location.href = event.target
        ? event.target.getAttribute("data-uri")
        : "/tired_gaming/";
    });
</script>

<Jam title="Jam | Asset" jam="asset">
  <main>
    <JamHero jam={cj} />
  </main>
</Jam>
