---
import Page from '../layouts/Page.astro';
import Callout from '../components/callout/Callout.astro';
---

<Page title="Tired Gaming">
	<main>
    <Callout type="warn">
      <p>This website is a work in progress. Check be soon to see the <code>progress!</code></p>
    </Callout>
	</main>
</Page>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
