---
import Search from "../components/search/Search.tsx";
import Nav from "../components/Nav/Nav.tsx";

export interface Props {
  section?: string;
}

const { section='' } = Astro.props;
---

<div id="header">
  <div id="header-nav" class="flex items-center">
    <h3 id="title">
      <a href="/tired_gaming/">Tired Gaming</a>
      { section && <Nav section={section} client:only /> }
    </h3>
    
  </div>
  <div id="right">
    <nav id="home">
        { !section && <a href="/tired_gaming/jam">Jam</a>}
        <a href="/tired_gaming/blog">Blog</a>
    </nav>
    <Search section={section} client:only />
  </div>
</div>

<style>
  #header {
    background: var(--background);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    height: 4rem;
    z-index: 10;

    /* margin-bottom: 3rem; */
    padding-block: .5rem;

    border-bottom: 2px solid rgba(0, 0, 0, .1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  }
  #right {
    display: flex;
    gap: 2rem;
  }
  #home {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
  }

  #home a:hover {
    text-decoration: underline;
  }

  #header-nav {
    display: flex;
    gap: 1rem;
  }

  h3 {
    font-size: 1.75rem;
    font-weight: 800;
    margin: 0;
    white-space: nowrap;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  #title {
    display: flex;
    gap: .2rem;
    height: 100%;
  }
</style>
