---
import Search from "../components/search/Search.tsx";
import Nav from "../components/HeaderNav/Nav.tsx";

export interface Props {
  section: string;
}

const { section } = Astro.props;
---

<div id="header">
  <div id="header-nav" class="flex items-center">
    <h3 id="title">
      Tired Gaming
      <Nav section={section} client:only />
    </h3>
  </div>
  <Search section={section} client:only />
</div>

<style>
  #header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: end;
    padding-inline: 1rem;
    height: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
    font-weight: 800;
    margin: 0;
    white-space: nowrap;
  }

  #title {
    display: flex;
    gap: .2rem;
    height: 100%;
  }
</style>
