---
import Header from '../components/Header.astro';

export interface Props {
	title: string;
    description?: string;
    jam?: string;
}

const { 
  title, 
  jam = '',
  description = 'Tired Gaming is a host of game and game asset jams'
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/global.css">
    <slot name="head" />
		<title>{title}</title>
	</head>
	<body>
        <Header section={jam} />
		<slot />
	</body>
</html>
